<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <form id="form" action="/update-profile" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="userId" value="{{userId}}">
                        <p class="fs-3 text-center" style="font-weight: lighter;">Editar Perfil</p>
                        <div class="col">
                            <div class="mb-3">
                                <label for="name" name="labelName">Nome: </label>
                                <input type="text" class="form-control" id="name" name="name" value="{{userName}}">
                            </div>
                            <div class="mb-3">
                                <label for="phone" name="labelPhone">Celular: </label>
                                <input type="tel" class="form-control" id="phone" name="phone" value="{{userPhone}}"
                                    placeholder="(00) 00000-0000">
                            </div>
                            <div class="mb-3">
                                <label for="description" name="labelDesc">Descrição: </label>
                                <textarea class="form-control" id="description" name="biography" rows="3"
                                    placeholder="Escreva uma descrição para o seu perfil.">{{userDescription}}</textarea>

                            </div>
                            <div class="col">
                                <label for="input-file" name="img-label">Foto de perfil: </label>
                                <div class="mb-3" id="img-profile-div">
                                    <label for="input-file" id="label-image" tabindex="0">
                                        <span class="picture-image">
                                            <img src="{{profileImageUrl}}" alt="Foto de Perfil" class="img-fluid" />
                                        </span>
                                    </label>
                                </div>
                                <input type="file" class="form-control" id="profile-image" name="profile_image"
                                    accept="image/jpeg, image/png, image/jpg">
                                <div class="mb-3 mt-3">
                                    <a href="/update-password">Alterar senha</a>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button type="submit" class="btn btn-my-color-1 text-white"
                                    id="save-edit">Salvar</button>
                                <a href="/user-profile" class="btn btn-my-color-1 text-white"
                                    id="cancel-edit">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/updateprofile.js"></script>

</html>